@font-face {
  font-family: 'Chicle-Regular';
  src: url('fonts/Chicle-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Chicle-Regular', sans-serif;

}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.header {
  grid-column: 2 / 3;
  display: grid;
  padding: 40px 60px;
  box-shadow: 10px 1px 20px grey;
  gap: 30px;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.search-bar,
.greeting {
  display: grid;
  grid-template-columns: auto 1fr;
}

.search-bar,
.greeting,
.list ul {
  gap: 30px;
}

.search-bar, 
.greeting,
.account,
.list ul {
  align-items: center;
}

.search-bar form {
  display: grid;
}

.search-bar input {
  width: 80%;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-color: rgb(185, 213, 255);
}

.greeting span {
  font-size: 25px;
}

.greeting h1 {
  line-height: 1.2;
  font-size: 40px;
}

.account,
.list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.account {
  gap: 20px;
}

.pac-man {
  filter: invert(87%) invert(13%) sepia(94%) saturate(1472%) hue-rotate(351deg) brightness(95%) contrast(106%);
}

.list ul {
  list-style-type: none;
}

button {
  font-size: 25px;
  padding: 15px 50px;
  border-radius: 30px;
  font-family: 'Chicle-Regular', sans-serif;
  color: white;
  border: none;
  background-color: rgb(59, 151, 255);
}

.side-bar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  background-color: rgb(59, 151, 255);
}

.side-bar img {
  filter: brightness(0) invert(1);
}

.side-bar-content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 40px 0px 0px 40px;
}

.side-bar-content h1 {
  padding-left: 20px;
  color: white;
}

.side-bar-content .dashboard {
  font-size: 40px;
}